.glitch-effect {
    text-transform: uppercase;
    letter-spacing: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.glitch-effect::before, .glitch-effect::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.glitch-effect::before {
    color:#ff00c1;
    animation: glitchEffect 3s infinite;
}

.glitch-effect::after {
    color:#3498db;
    animation: glitchEffect 2s infinite;
}

@keyframes glitchEffect {
    0% {
      left: -2px;
      top: -2px;
    }
    25% {
      left: 2px;
      top: 0px;
    }
    50% {
      left: -1px;
      top: 2px;
    }
    75% {
      left: 1px;
      top: -1px;
    }
    100% {
      left: 0px;
      top: -2px;
    }
}